@mixin createElement(){
  background: linear-gradient(180deg,red 50%,blue 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#as{
  p{
    @include createElement();
    font-size: 3rem;
  }
}